*, ::before, ::after{
    padding: 0;
    margin:0;
    font-family: Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color: white;
    background-color: black; 
    
}
.brand-name{
    font-size: 2rem;
    margin: 0.5rem ;
}
.navbar-links ul{
    margin:0;
    padding: 0;
    display: flex; 

}
.navbar-links li{
    /* Removes li styling */
    list-style: none;
    padding: 1rem;
}
.navbar-links li a{
    /* Remove text decoration*/
    text-decoration: none;
    color: white;
}

.navbar-links li:hover{
    background-color: rgba(255,255,255, 0.5);
}

/* hamburger menu*/
.toogle-menu{
    /* positioned absolutely to avoid messing with the flow of the elements*/
    position: absolute;
    top: 0.85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

}
.toogle-menu .bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 3px;

}

@media (max-width: 400px){
    .toogle-menu{
        display: flex;
    }
    .navbar{
        flex-direction: column;  
        align-items: flex-start; 

      }
    .navbar-links{
        width: 100%;
        display: none;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;

    }
    .navbar-links ul li{
        text-align: center;
        
    }
    .navbar-links li a {
        padding-inline: .5rem 1rem;
    }
    /* we use javascript to implement the toggle effect of the humburger menu */
    .navbar-links.active{
        display: flex;
    }
    
}